In [1]:
import pandas as pd
import numpy as np

## 1.	Загрузите датасет movie_metadata.csv, который содержит данные о фильмах из базы IMDb (Internet Movie Database).

In [2]:
df = pd.read_csv('../data/movie_metadata.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

In [4]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       5043 non-null object
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

## 2.	Колонка duration - данные о длительности фильма. Сколько пропущенных значений содержится в этой колонке?

In [6]:
df[df['duration'].isnull()].shape[0]

15

## 3.	Замените пропущенные значения в колонке duration медианным значением этой колонки.

In [7]:
duration_median = df['duration'].median()
duration_median

103.0

In [8]:
df['duration'] = df['duration'].fillna(duration_median)

## 4.	Какова средняя длительность фильма? Ответ дайте числом с плавающей запятой с округлением до 2 знаков после запятой включительно.

In [9]:
round(df['duration'].mean(), 2)

107.19

## 5.	Создайте колонку movie_duration_category, которая содержала бы 3 категории в зависимости от длительности фильма:
•	Категория "1. < 90", если фильм длится менее 90 минут;

•	Категория "2. 90-120", если фильм длится от 90 минут до 2 часов (включительно);

•	Категория "3. > 120", если фильм длится больше 2 часов.

In [10]:
df['movie_duration_category'] = df['duration'].\
apply(lambda x: '1. < 90' if x < 90 else ('2. 90-120' if x < 120 else '3. > 120'))

## 6.	Постройте сводную таблицу для фильмов с годом выпуска после 2000 (включительно), которая отражала бы количество фильмов:
•	В строках таблицы - год;

•	В столбцах таблицы - категория длительности фильма ("< 90", "90-120", "> 120");

•	Год фильма должен быть представлен в формате YYYY

In [11]:
df2000plus = df[df['title_year']>=2000][['title_year', 'movie_duration_category']]
df2000plus['one'] = 1
df2000plus['title_year'] = df2000plus['title_year'].astype('int')
table = pd.pivot_table(df2000plus[['title_year', 'movie_duration_category', 'one']],
                       values='one',
                       index=['title_year'], 
                       columns=['movie_duration_category'], 
                       aggfunc=np.sum)

In [12]:
# проверка
(df['title_year']>=2000).astype('int').sum(), df2000plus.shape[0], table.sum().sum()

(3597, 3597, 3597)

In [13]:
table = table.reset_index()
table

movie_duration_category  title_year  1. < 90  2. 90-120  3. > 120
0                              2000       25        108        38
1                              2001       29        118        41
2                              2002       36        145        28
3                              2003       31        104        34
4                              2004       30        134        50
5                              2005       31        141        49
6                              2006       40        142        57
7                              2007       31        126        47
8                              2008       29        157        39
9                              2009       42        174        44
10                             2010       26        169        35
11                             2011       36        149        40
12                             2012       41        139        41
13                             2013       38        141        58
14                             2014       36        170        46
15                             2015       34        142        50
16                             2016        8         72        26

## 7.	Сколько фильмов с длительностью от 90 минут до 2 часов было выпущено в 2008 году?

In [14]:
table[table['title_year']==2008]

movie_duration_category  title_year  1. < 90  2. 90-120  3. > 120
8                              2008       29        157        39

In [15]:
# ответ на вопрос 7
list(table[table['title_year']==2008]['2. 90-120'])[0]

157

## 8.	Колонка plot_keywords содержит ключевые слова, характеризующие сюжет фильма. На основе данных этой колонки создайте колонку movie_plot_category, которая содержала бы 4 категории в зависимости от ключевых слов в колонке:
•	Категория "love_and_death", если ключевые слова содержат и ключевое слово "love" и ключевое слово "death";

•	Категория "love", если ключевые слова содержат ключевое слово "love";

•	Категория "death", если ключевые слова содержат ключевое слово "death";

•	Категория "other", если ключевые слова не соответствуют перечисленным выше условиям.

In [16]:
import re

In [17]:
def f(word_to_find, string):
    if string:
        return len(re.findall(f'{word_to_find}', string))

In [18]:
df['plot_keywords'] = df['plot_keywords'].fillna('|')
df['plot_keywords'].count()

5043

In [19]:
df['love'] = df['plot_keywords'].apply(lambda x: f('love', x) )
df['death'] = df['plot_keywords'].apply(lambda x: f('death', x) )
df['movie_plot_category'] = df.apply(lambda x: [x['love'], x['death']], axis=1)

In [20]:
df['movie_plot_category'] = df['movie_plot_category'].\
apply(lambda x: 'love and death' if x[0]*x[1]>0 else ('love' if x[0]>0 else ('death' if x[1]>0 else 'other')))

In [21]:
df['movie_plot_category'].value_counts()

other             4621
love               234
death              172
love and death      16
Name: movie_plot_category, dtype: int64

## 9.	В колонке imdb_score указан пользовательский рейтинг фильма. Постройте таблицу, которая отражала бы средний рейтинг фильмов в зависимости от принадлежности к категории movie_plot_category.

In [22]:
df.groupby(['movie_plot_category']).mean()['imdb_score']

movie_plot_category
death             6.535465
love              6.580769
love and death    6.506250
other             6.431422
Name: imdb_score, dtype: float64

## 10.	Какой средний рейтинг у фильмов категории "love"? Ответ дайте числом с плавающей запятой с округлением до 2 знаков после запятой включительно.

In [23]:
round(df.groupby(['movie_plot_category']).mean()['imdb_score']['love'], 2)

6.58

## 11.	Колонка budget - бюджет фильма. Какой медианный бюджет всех представленных фильмов? Ответ дайте целым числом.

In [24]:
df['budget'].apply(lambda x: x[-3:]).value_counts()

.0$    5043
Name: budget, dtype: int64

In [25]:
df['budget1'] = df['budget'].apply(lambda x: x[:-3]).astype('int64')

In [26]:
df['budget1'].median().astype('int')

15000000